<div class="ui card user-link-card-div">

  <% if user_link.link.embed_code %>
      <div class="embed-responsive embed-responsive-16by9 link-card-embedded-media">
        <%= user_link.link.embed_code.html_safe %>
      </div>
    <% else %>
      <div class="image">
        <a href="<%=user_link.link.url%>">
          <img class="link-card-image" src="<%= user_link.link.thumbnail %>">
        </a>
      </div>
  <%end%> <%# show embed code if available %>



  <div class="content">
    <i class="right floated like icon"></i>
    <i class="right floated star icon"></i>
    <div class="header"><%= link_to user_link.link.title, user_link.link.url %></div>
    <div class="description link-card-description-text">
      <p><%= user_link.link.description.first(250) %></p>
    </div>
  </div>
  <div class="extra content">
    <% if user_feed_check(user_link)%>
      <span class="left floated icon">
        <i class="add icon"></i>
        <%= link_to('Add Feed', {controller: 'user_feeds', action: 'create', url: entry.url}, method: :post) %>
      </span>
    <% end %>

    <% if user_feed_exists?(user_link)%>
      <span class="left floated icon">
        <i class="check icon"></i>
        Feed Added!
      </span>
    <% end %>

    <span class="right floated star">
      <i class="star icon"></i>
      Favorite
    </span>
  </div>
</div>



