<div class="ui card">
  <div class="content">
    <i class="right floated like icon"></i>
    <i class="right floated star icon"></i>
      <div class="header"><%= link_to entry.title, entry.url %></div>
    <div class="description">
      <p>Published <%= time_ago_in_words(entry.published) %> ago</p>
      <p><%= entry.host %></p>
      <p>By: <%= entry.author %></p>
    </div>
  </div>
  <div class="extra content">
    <% if link_saved_by_user?(entry.url) %>
       <span class="left floated check">
          <i class="check icon"></i>
            Saved!
        </span>
    <% else %>
      <span class="left floated save">
        <i class="save icon"></i>
          <%= link_to('Save Post', {controller: 'user_links', action: 'create', url: entry.url}, method: :post) %>
      </span>
    <% end %>
    <span class="right floated star">
      <i class="star icon"></i>
      Favorite
    </span>
  </div>
</div>
