<div class="list-group">
  <a href="<%= entry.url %>" class="list-group-item list-group-item-action">
    <h6 class="list-group-item-heading"><%= entry.title %></h6>
    <p class="card-text"><small class="text-muted">
      <span>Published <%= time_ago_in_words(entry.published) %> ago</span>
      <span>Source: <%= entry.host %></span>
      <span>Author: <%= entry.author %></span>
    </small></p>
  </a>
</div>

